<div id="messages"></div>
<form action="form/message/{$action}/{$id}.html" method="post" class="cmxform">
	<fieldset>
		<legend>Empfänger</legend>
		<ul>
			<li>
				<select name="user[]" size="3" multiple="multiple"{if $id !== false}disabled="disabled"{/if}>
				{foreach from=$user item=u}
					<option value="{$u->username}"{if is_object($message->receiver) && $id === $message->receiver->username} selected="selected"{/if}>{$u->realname}</option>
				{/foreach}
				</select>
			</li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>Nachricht</legend>
		<ul>
			<li><label for="subject">Betreff</label> <input type="Text" name="subject" value="{$message->subject}" /></li>
			<li><label for="text">Text</label> <textarea name="text" id="editor">{$message->text}</textarea></li>
		</ul>
	</fieldset>
</form>