<div id="messages"></div>
<form action="form/poker/{$path}" method="post" class="cmxform">
	<fieldset>
		<legend>Daten</legend>
		<ul>
			<li><label for="title">Name</label> <input type="Text" name="title" value="{$table->title}"/></li>
			<li><label for="seats">Plätze</label> <input type="number" name="seats" value="{$table->seats}" min="2" max="10"/></li>
			<li><label for="blind">Smallblind</label> <input type="number" name="blind" value="{$table->blinds.small}" min="1"/> (BB = SB&times;2)</li>
			<li><label for="spot">Spot</label> xx</li>
		</ul>
	</fieldset>
</form>