<div id="sidebar">
	{include file='tables_list.html'}
</div>
<div id="main">
	<div id="fixed">
		<div id="messages"></div>
		<div id="pokertable"><h3>Wähle einen der Tische auf der linken Seite aus!</h3></div>
	</div>
</div>
<ul id="hoverMenu">
    <li class="transfer"><a href="poker/show/" title="Tisch in neuem Fenster öffnen"></a></li>
</ul>
{literal}
<script>
$(document).ready(function() {		
	$('#sidebar').find('li a').live('click', function() {
		$('#sidebar').find('li.active').removeClass('active');
		$(this).parents('li').addClass('active');
		return false;
	});
});
</script>
{/literal}