<div id="tables">
<table>
<thead>
    <tr>
        <th>Aktiv</th>
        <th>Name</th>
        <th>Plätze (davon frei)</th>
        <th>Blinds</th>
        <th>Spot</th>
    </tr>
</thead>
<tbody>
{foreach from=$tables item=table}
    <tr id="{$table->id}" class="{if $table->user != $user->id && $permissions.update === false} noupdate{/if}{if is_object($table->game)} nodelete{/if}">
        <td><img src="images/buttons/button_{if $table->game !== false}1{else}0{/if}.png" /></td>
        <td>{$table->title}</td>
        <td>{$table->seats} ({$table->free})</td>
        <td>{$table->blinds.small}/{$table->blinds.big}</td>  
        <td>{if is_object($table->spot)}{$table->spot->title}{else}-{/if}</td>
    </tr>
{/foreach}
</tbody>
</table>
{if $permissions.update === true || $permissions.update_own === true || $permissions.delete === true}
{literal}
<script>
$(document).ready(function() {
	$('#tables').find('tr').contextMenu({
		menu: 'tableMenu',
        onShow: function($el) {
            var enable = new Array(), disable = new Array(), remove = new Array();

            if ($el.hasClass("noupdate")) remove.push("edit");
            else enable.push('edit');
            if ($el.hasClass("nodelete")) disable.push("delete");
            else enable.push('delete');

            if (disable.length > 0)
                $('#tableMenu').disableMenuItems(disable);
            if (remove.length > 0)
                $('#tableMenu').removeMenuItems(remove);
            if (enable.length > 0)
                $('#tableMenu').enableMenuItems(enable);
        }
	}, function($link, $el) {
		$link.url().attr('file', $el.attr('id'));

        if ($link.hasClass('page') == false)
            openDialog($link);
        else
            $(document).url().attr('path', $link.url().attr('path'));
	});
})
</script>
{/literal}
{/if}
</div>
{if $call != 'load'}
<ul id="tableMenu" class="contextMenu">
    <li class="view"><a href="admin/poker/archive/" class="page">Spiele anzeigen</a></li>
    {if $permissions.update === true || $permissions.update_own === true}<li class="edit"><a href="admin/poker/poker_table-update/?width=500&height=320" class="form">Bearbeiten</a></li>{/if}
    {if $permissions.delete === true}<li class="delete"><a href="admin/poker/poker_table-delete/?width=500&height=320" class="delete">Löschen</a></li>{/if}
</ul>
{/if}